{% extends "index.html" %}
{% block content %}
<form name="cnc" action="" method="post" class="form-horizontal">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label class="control-label col-sm-2">{{ form.client.label }}</label>
        <div class="col-sm-10">
            {{ form.client() }}
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">{{ form.package.label }}</label>
        <div class="col-sm-10">
            {{ form.package() }}
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-2">
            {{ form.fund_pg_select() }}
        </div>
        <div class="col-sm-10">
            {{ form.fund() }}
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">{{ form.date.label }}</label>
        <div class="col-sm-10">
            {{ form.date() }}
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">{{ form.directory.label }}</label>
        <div class="col-sm-10">
            {{ form.directory(size=70) }}
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">{{ form.tag.label }}</label>
        <div class="col-sm-10">
            {{ form.tag() }}
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">{{ form.rpt_tag.label }}</label>
        <div class="col-sm-10">
            {{ form.rpt_tag() }}
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">{{ form.sector.label }}</label>
        <div class="col-sm-10">
            {{ form.sector() }}
        </div>

    </div>

    <a href="#var_params" data-toggle="collapse">Var Related parameters</a>
    <div id="var_params" class="collapse">
        <div class="form-group">
            <label class="control-label col-sm-2">{{ form.exp_hi.label }}</label>
            <div class="col-sm-10">
                {{ form.exp_hi() }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{ form.var_type.label }}</label>
            <div class="col-sm-10">
                {{ form.var_type() }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{ form.var_history_count.label }}</label>
            <div class="col-sm-10">
                {{ form.var_history_count() }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{ form.var_decay_daily.label }}</label>
            <div class="col-sm-10">
                {{ form.var_decay_daily() }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{ form.var_calendar.label }}</label>
            <div class="col-sm-10">
                {{ form.var_calendar() }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{ form.var_mat_date.label }}</label>
            <div class="col-sm-10">
                {{ form.var_mat_date() }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{ form.econ_date.label }}</label>
            <div class="col-sm-10">
                {{ form.econ_date() }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{ form.var_history.label }}</label>
            <div class="col-sm-10">
                {{ form.var_history() }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Command type</label>
        <div class="col-sm-10">{{ form.cmd_type() }}</div>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">{{ form.submit() }}</div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">{{ html_command | safe }}</div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <textarea class="form-control" rows="5">{{ command | safe }}</textarea>
        </div>
    </div>
    </div>
</form>


{% endblock %}