<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>GPAS Tokyo Toolbox</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    </head>
    <body>
        <div data-role="page" id="main">
            <div data-role="header">
                <h1> GPAS Tokyo Toolbox</h1>
            </div>
            <div data-role="content">
                <ui data-role="listview" data-inset="true" data-filter="true">
                    <li><a href="/query">Queries</a></li>
                    <li><a href="/command_generator">Command generator (pms, cnc, master_batcher, ifile_parse...)</a></li>
                </ui>
            </div>
        </div><!-- end main page-->
    </body>
</html>
