<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>GPAS Command generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

        <style>
            .command{                
                padding:5px;
                margin: 5px;
            }
            .command_keyword{
                color:red;
            }
            .command_switch{
                color:green;
            }
            label{
                font-size: 20px;
            }
            table{
                border:none;                
            }
            th,td{
                padding:5px;
                text-align: left;                
            }
            .tbl{

            }
        </style>
        <script>
            function set_directory_and_tag(client, directory, tag) {
                if (client.val() == 'ben') {
                    directory.val("/d0/prod1/reports/" + $('#package').val().toUpperCase() + "/gp_views/" + $('#package').val().toUpperCase() + "/" + $('#date').val());
                } else {
                    directory.val("/d0/prod1/reports/gp_reports/MAIN/" + $('#date').val());
                }

                tag.val(client.val().toUpperCase() + " " + tag.val());
            }

            function set_directory(client, directory) {
                if (client.val() == 'ben') {
                    directory.val("/d0/prod1/reports/" + $('#package').val().toUpperCase() + "/gp_views/" + $('#package').val().toUpperCase() + "/" + $('#date').val());
                } else {
                    directory.val("/d0/prod1/reports/gp_reports/MAIN/" + $('#date').val());
                }
            }

            $(document).ready(
                    function () {

                        $('#pms').on('focusout', '#client', function () {
                            set_directory_and_tag($('#client'), $('#directory'), $('#tag'));
                        });


                        $('#pms').on('focusout', '#package', function () {
                            set_directory($('#client'), $('#directory'));
                        });


                        $('#pms').on('focusout', '#date', function () {
                            set_directory($('#client'), $('#directory'));
                        });


                        //generic pms command generator
                        $('#pms').on('click', '#generic_pms', function () {
                            $.getJSON(
                                    '/pms_generator',
                                    {
                                        command: 'generic_pms',
                                        client: $('#client').val(),
                                        package: $('#package').val(),
                                        date: $('#date').val(),
                                        directory: $('#directory').val(),
                                        fund_pg_select: $('#fund_pg_select option:selected').val(),
                                        fund: $('#fund').val(),
                                        tag: $('#tag').val()
                                    },
                                    function (data) {
                                        $('#command').html(data.result);
                                        $('#command_textarea').val($('#command').text());
                                    }
                            );
                        });


                        //write compliance binary pms                         
                        $('#pms').on('click', '#compl_pms', function () {
                            $.getJSON(
                                    '/pms_generator',
                                    {
                                        command: 'compl_pms',
                                        client: $('#client').val(),
                                        package: $('#package').val(),
                                        date: $('#date').val(),
                                        directory: $('#directory').val(),
                                        fund_pg_select: $('#fund_pg_select option:selected').val(),
                                        fund: $('#fund').val(),
                                        tag: $('#tag').val()
                                    },
                                    function (data) {
                                        $('#command').html(data.result);
                                        $('#command_textarea').val($('#command').text());
                                    }
                            );
                        });


                        //exposure pms command generator
                       $('#pms').on('click', '#exposure_pms', function () {
                            $.getJSON(
                                    '/pms_generator',
                                    {
                                        command: 'exposure_pms',
                                        client: $('#client').val(),
                                        package: $('#package').val(),
                                        date: $('#date').val(),
                                        directory: $('#directory').val(),
                                        fund_pg_select: $('#fund_pg_select option:selected').val(),
                                        fund: $('#fund').val(),
                                        tag: $('#tag').val()
                                    },
                                    function (data) {
                                        $('#command').html(data.result);
                                        $('#command_textarea').val($('#command').text());
                                    }
                            );
                        });

                        //write sector/breakdown pms command generator
                       $('#pms').on('click', '#sector_pms', function () {
                            $.getJSON(
                                    '/pms_generator',
                                    {
                                        command: 'sector_pms',
                                        client: $('#client').val(),
                                        package: $('#package').val(),
                                        date: $('#date').val(),
                                        directory: $('#directory').val(),
                                        fund_pg_select: $('#fund_pg_select option:selected').val(),
                                        fund: $('#fund').val(),
                                        tag: $('#tag').val(),
                                        sector:$('#sector').val()                                        
                                    },
                                    function (data) {
                                        $('#command').html(data.result);
                                        $('#command_textarea').val($('#command').text());
                                    }
                            );
                        });
                        
                        //save to port_totals pms command generator
                       $('#pms').on('click', '#port_totals', function () {                           
                            $.getJSON(
                                    '/pms_generator',
                                    {
                                        command: 'port_totals',
                                        client: $('#client').val(),
                                        package: $('#package').val(),
                                        date: $('#date').val(),
                                        directory: $('#directory').val(),
                                        fund_pg_select: $('#fund_pg_select option:selected').val(),
                                        fund: $('#fund').val(),
                                        tag: $('#tag').val(),
                                        rpt_tag:$('#rpt_tag').val(),
                                        sector:$('#sector').val()                                        
                                    },
                                    function (data) {
                                        $('#command').html(data.result);
                                        $('#command_textarea').val($('#command').text());
                                    }
                            );
                        });
                        
                        
                        //pms report on composite benchmarks
                       $('#pms').on('click', '#composite_bench_pms', function () {                           
                            $.getJSON(
                                    '/pms_generator',
                                    {
                                        command: 'composite_bench_pms',
                                        client: $('#client').val(),
                                        package: $('#package').val(),
                                        date: $('#date').val(),
                                        directory: $('#directory').val(),
                                        fund_pg_select: $('#fund_pg_select option:selected').val(),
                                        fund: $('#fund').val(),
                                        tag: $('#tag').val(),
                                        rpt_tag:$('#rpt_tag').val(),
                                        sector:$('#sector').val()                                        
                                    },
                                    function (data) {
                                        $('#command').html(data.result);
                                        $('#command_textarea').val($('#command').text());
                                    }
                            );
                        });
                        
                    }
            );

        </script>
    </head>
    <body>
        <div data-role="page" id="pms">
            
            <div data-role="header">
            <a href="/command_generator" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
                <h1>PMS command generator</h1>
            </div>
            <div data-role="content">

                <table>
                    <tr>
                        <td><label for="client">Client</label></td>
                        <td><input data-clear-btn="true" name="client" id="client" value="{{client}}" placeholder="Enter Client alias"></td>
                    </tr>
                    <tr>
                        <td><label for="package">Package</label></td>
                        <td><input data-clear-btn="true" name="package" id="package" value="{{package}}" placeholder="Enter the package"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui-field-contain">                                
                                <select name="fund_pg_select" id="fund_pg_select">
                                    <option value="fund">Fund</option>
                                    <option value="pg">Portgroup</option>
                                    <option value="file">File of funds</option>                                    
                                </select>
                            </div> 
                        </td>
                        <td><input data-clear-btn="true" name="fund" id="fund" value="{{fund}}" placeholder="Enter the fund"></td>
                    </tr>
                    <tr>
                        <td><label for="date">Date</label></td>
                        <td><input data-clear-btn="true" name="date" id="date" value="{{date}}" placeholder="Enter the date in yyyymmdd or mm/dd/yyyy format"></td>
                    </tr>
                    <tr>
                        <td><label for="directory">Directory</label></td>
                        <td><input data-clear-btn="true" name="directory" id="directory" value="{{directory}}" placeholder="Enter the directory"></td>
                    </tr>
                    <tr>
                        <td><label for="tag">Tag</label></td>
                        <td><input data-clear-btn="true" name="tag" id="tag" value="{{tag}} " placeholder="Enter the tag"></td>
                    </tr>
                    <tr>
                        <td><label for="rpt_tag">Report tag</label></td>
                        <td><input data-clear-btn="true" name="rpt_tag" id="rpt_tag" value=" " placeholder="Enter the rpt_tag"></td>
                    </tr>
                    <tr>
                        <td><label for="sector">Sector/Breakdown</label></td>
                        <td><input data-clear-btn="true" name="sector" id="sector" value=" " placeholder="Enter the sector/breakdown"></td>
                    </tr>

                </table>
                <ul data-role="listview" data-inset="true" data-filter="true">
                    <li><a id="generic_pms" href="#">Generic pms</a></li>
                    <li><a id="compl_pms" href="#">Write compliance binary pms</a></li>
                    <li><a id="exposure_pms" href="#">Save exposure pms</a></li>
                    <li><a id="sector_pms" href="#">Update sector/breakdown pms</a></li>
                    <li><a id="port_totals" href="#">Save to port_totals</a></li>
                    <li><a id="composite_bench_pms" href="#">Write pms report on composite benchmark</a></li>
                </ul>
                <div id="command" class="command"></div>
                <textarea name="command_textarea" id="command_textarea" data-enhanced="true" class="ui-input-text ui-shadow-inset ui-body-inherit ui-corner-all"></textarea>

            </div><!-- content end -->            
        </div><!-- page end-->
    </body>
</html>
